@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
  height: 100%;
  background: linear-gradient(to top, #caf0f8, #90e0ef);
  /* background-image: url('https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?w=1060&t=st=1683131138~exp=1683131738~hmac=933bf83427eef24d6c27d1ce3efc9c98d9769d3229d7e6b88301f115d68e7a5c'); */
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
  height: 100%;
}

.array-container {
  position: fixed;
  color: white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;

}

/* .array-bar {
    width : 30px;
    display: inline-block;
    margin : 0 5px;
} */

.array-bar {
  width: 30px;
  height: 80px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 10px rgba(173, 216, 230, 0.8), 0 0 10px rgba(173, 216, 230, 0.8);
  transition: all 0.2s ease-in-out;
}



  .navbar {
    background-color: #2c3e50; /* Set the background color */
    color: #fff; /* Set the font color */
    height: 65px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .navbar-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 200px;
  }

  .navbar-heading:hover span {
    transform: rotateY(360deg);
  }
  
  .navbar-heading span {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
  }

  /* .navbar-heading:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  } */
  
  /* .navbar-heading:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transform: rotate(360deg) scale(1.2);
    transition: transform 0.5s ease-in-out;
  } */
  

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-button {
    
    background-color: #fff;
    color: #2c3e50;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-button1 {
    position: absolute;
    right: 20px;
    background-color: #fff;
    color: purple;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-button:hover {
    background-color: #2c3e50;
    color: #fff;
  }
  
  .navbar-button:active {
    background-color: #f39c12;
    color: #fff;
  }
  
  .navbar-button1:hover {
    background-color: red;
    color: #fff;
  }
  
  .navbar-button1:active {
    background-color: blanchedalmond;
    color: #fff;
  }
  
  .navbar-button, .navbar-button1 {
    font-family: 'Poppins', sans-serif;
  }
  